[Unit]
Description=SRS Resolver for Postfix
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/srs-resolver
Restart=on-failure
RestartSec=5s
User=postfix
Group=postfix
WorkingDirectory=/var/lib/srs-resolver
StandardOutput=null
StandardError=journal

[Install]
WantedBy=multi-user.target
